html,
body {
  height: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0.875rem;
}

.main-header {
  position: relative;
  z-index: 1030;
}

.main-header .navbar {
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 0;
  border: none;
  height: 6.25rem;
  border-radius: 0;
}

.main-header .navbar-custom-menu,
.main-header .navbar-right {
  float: right;
}

@media (max-width: 61.9375rem) {
  .main-header .navbar-custom-menu a,
  .main-header .navbar-right a {
    color: inherit;
    background: transparent;
  }
}

@media (max-width: 47.9375rem) {
  .main-header .navbar-right {
    float: none;
  }
  .navbar-collapse .main-header .navbar-right {
    margin: 0.46875rem -0.9375rem;
  }
  .main-header .navbar-right > li {
    color: inherit;
    border: 0;
  }
}

.wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}

.wrapper:after {
  clear: both;
}

.content-wrapper {
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  z-index: 820;
  min-height: 100%;
  background-color: #ecf0f5;
}

@media (max-width: 47.9375rem) {
  .content-wrapper {
    margin-left: 0;
  }
}

.content {
  min-height: 15.625rem;
  padding: 0.9375rem;
  margin: 0 auto;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.info-box {
  display: block;
  min-height: 5.625rem;
  background: #fff;
  width: 100%;
  box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.125rem;
  margin-bottom: 0.9375rem;
}

.info-box small {
  font-size: 0.875rem;
}

.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 0.3125rem -0.625rem;
  height: 0.125rem;
}

.info-box .progress .progress-bar {
  background: #fff;
}

.info-box-icon {
  border-radius: 0.125rem;
  display: block;
  float: left;
  height: 5.625rem;
  width: 5.625rem;
  text-align: center;
  font-size: 2.8125rem;
  line-height: 5.625rem;
  background: rgba(0, 0, 0, 0.2);
}

.info-box-icon > img {
  max-width: 100%;
}

.info-box-content {
  text-align: center;
  height: 1.875rem;
  line-height: 1.875rem;
  padding-top: 0.625rem;
}

.info-box-text {
  text-transform: none;
  display: block;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info-box-number {
  font-weight: bold;
  font-size: 1.125rem;
}

.bg-green {
  background-color: #00a65a !important;
}
.bg-red {
  background-color: #dd4b39 !important;
}
.bg-blue {
  background-color: #0073b7 !important;
}
.bg-aqua {
  background-color: #00c0ef !important;
}
.bg-maroon {
  background-color: #d81b60 !important;
}

.box {
  position: relative;
  border-radius: 0.1875rem;
  background: #ffffff;
  border-top: 0.1875rem solid #d2d6de;
  margin-bottom: 1.25rem;
  width: 100%;
  box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.1);
}

.box .nav-stacked > li {
  border-bottom: 0.0625rem solid #f4f4f4;
  margin: 0;
}

.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}

.box-header {
  color: #444;
  display: block;
  padding: 0.625rem;
  position: relative;
}

.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  display: inline-block;
  font-size: 1.125rem;
  margin: 0;
  line-height: 1;
}

.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 0.3125rem;
}

.box-header > .box-tools {
  position: absolute;
  right: 0.625rem;
  top: 0.3125rem;
}

.table {
  width: 100%;
  margin-bottom: 1.25rem;
  border-collapse: collapse;
  border-spacing: 0;
}

.table th,
.table td {
  border-top: 0.0625rem solid #f4f4f4;
  padding: 0.5rem;
  text-align: left;
}

.table th {
  vertical-align: bottom;
  border-bottom: 0.125rem solid #f4f4f4;
  position: sticky;
  top: 0;
  z-index: 1;
}

.ion {
  color: #f4f4f4;
}

.container {
  width: 95%;
  padding: 0;
  height: calc(100% - 3.125rem);
}

.box-success {
  border-top-color: #00a65a;
}
.box-danger {
  border-top-color: #dd4b39;
}

.box-body {
  border-top-left-radius: 0.1875rem;
  border-top-right-radius: 0.1875rem;
  border-bottom-right-radius: 0.1875rem;
  border-bottom-left-radius: 0.1875rem;
  padding: 0.625rem;
}
